<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>project_jsp_servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>gAge</param-name>
    <param-value>1001</param-value>
  </context-param>
  <context-param>
    <param-name>jspApp</param-name>
    <param-value>Hello JSP</param-value>
  </context-param>
  <servlet>
    <servlet-name>initParameter</servlet-name>
    <jsp-file>/05_initParameter.jsp</jsp-file>
    <init-param>
      <param-name>onlyApp</param-name>
      <param-value>my JSP!</param-value>
    </init-param>
  </servlet>
  <error-page>
    <exception-type>java.lang.NumberFormatException</exception-type>
    <location>/08_Exception/error02.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/08_Exception/error03.jsp</location>
  </error-page>
</web-app>